In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from datetime import datetime

In [4]:
# Membaca data yang mau di latih dan data yang akan di test dengan pandas dataframe
df_train = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\all.csv")
df_test = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\Gempa2021.csv")
df_testone = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2020.csv")
df_testwo = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2017.csv")
df_testhree = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2018.csv")
df_testfour = pd.read_csv(r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2019.csv")

In [5]:
# Membaca Data Train
df_train.head()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4,"22km ENE of Port-Olry, Vanuatu",1514636058
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720

In [6]:
df_test

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2021,4,12,22:44:32,-22.7448,172.1413,10.0,5.2,southeast of the Loyalty Islands,1618267472
1,2021,4,12,02:26:26,2.7817,128.6072,229.7,5.2,"134 km NNE of Tobelo, Indonesia",1618194386
2,2021,4,12,01:52:25,-5.2913,104.8347,105.7,4.9,"49 km WNW of Bandar Lampung, Indonesia",1618192345
3,2021,4,11,10:44:47,-6.2323,104.6292,75.0,4.9,"113 km SW of Bandar Lampung, Indonesia",1618137887
4,2021,4,11,01:21:06,-5.7041,153.1678,20.6,4.9,"180 km SSE of Kokopo, Papua New Guinea",1618104066
...,...,...,...,...,...,...,...,...,...,...
1215,2021,1,1,22:20:08,-21.4224,169.1711,10.0,4.4,"134 km E of Tadine, New Caledonia",1609539608
1216,2021,1,1,18:47:11,-6.1821,147.6701,63.8,4.0,"45 km NNW of Finschhafen, Papua New Guinea",1609526831
1217,2021,1,1,04:05:17,-0.1874,124.4420,62.0,4.5,"171 km SSW of Tomohon, Indonesia",1609473917
1218,2021,1,1,03:46:52,-23.0784,172.6015,10.0,4.5,southeast of the Loyalty Islands,1609472812
1219,2021,1,1,01:13:18,13.6492,144.9562,162.6,4.3,"14 km NNE of Yigo Village, Guam",1609463598

In [7]:
df_test['dateInt']=df_test['Year'].astype(str) + df_test['Month'].astype(str).str.zfill(2)+ df_test['Day'].astype(str).str.zfill(2)
df_test['Date'] = pd.to_datetime(df_test['dateInt'],  )

In [8]:
df_test

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2021,4,12,22:44:32,-22.7448,172.1413,10.0,5.2,southeast of the Loyalty Islands,1618267472,20210412,2021-04-12
1,2021,4,12,02:26:26,2.7817,128.6072,229.7,5.2,"134 km NNE of Tobelo, Indonesia",1618194386,20210412,2021-04-12
2,2021,4,12,01:52:25,-5.2913,104.8347,105.7,4.9,"49 km WNW of Bandar Lampung, Indonesia",1618192345,20210412,2021-04-12
3,2021,4,11,10:44:47,-6.2323,104.6292,75.0,4.9,"113 km SW of Bandar Lampung, Indonesia",1618137887,20210411,2021-04-11
4,2021,4,11,01:21:06,-5.7041,153.1678,20.6,4.9,"180 km SSE of Kokopo, Papua New Guinea",1618104066,20210411,2021-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,2021,1,1,22:20:08,-21.4224,169.1711,10.0,4.4,"134 km E of Tadine, New Caledonia",1609539608,20210101,2021-01-01
1216,2021,1,1,18:47:11,-6.1821,147.6701,63.8,4.0,"45 km NNW of Finschhafen, Papua New Guinea",1609526831,20210101,2021-01-01
1217,2021,1,1,04:05:17,-0.1874,124.4420,62.0,4.5,"171 km SSW of Tomohon, Indonesia",1609473917,20210101,2021-01-01
1218,2021,1,1,03:46:52,-23.0784,172.6015,10.0,4.5,southeast of the Loyalty Islands,1609472812,20210101,2021-01-01
1219,2021,1,1,01:13:18,13.6492,144.9562,162.6,4.3,"14 km NNE of Yigo Village, Guam",1609463598,20210101,2021-01-01

In [9]:
df_testone['dateInt']=df_testone['Year'].astype(str) + df_testone['Month'].astype(str).str.zfill(2)+ df_testone['Day'].astype(str).str.zfill(2)
df_testone['Date'] = pd.to_datetime(df_testone['dateInt'], format='%Y%m%d')

In [10]:
df_testone

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2020,12,30,23:03:00,5.1231,125.2581,54.1,4.6,"38 km SW of Sarangani, Philippines",1609369380,20201230,2020-12-30
1,2020,12,30,21:27:32,7.6359,126.9172,53.3,4.6,"40 km E of Baganga, Philippines",1609363652,20201230,2020-12-30
2,2020,12,30,20:29:33,-6.6907,127.4441,393.4,4.5,"208 km NNE of Lospalos, Timor Leste",1609360173,20201230,2020-12-30
3,2020,12,30,19:36:05,-6.8738,147.6965,68.4,4.5,"38 km SSW of Finschhafen, Papua New Guinea",1609356965,20201230,2020-12-30
4,2020,12,30,19:10:20,-2.3988,127.4859,16.4,4.8,"163 km NNW of Ambon, Indonesia",1609355420,20201230,2020-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
3823,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714,20200101,2020-01-01
3824,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474,20200101,2020-01-01
3825,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487,20200101,2020-01-01
3826,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948,20200101,2020-01-01
3827,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500,20200101,2020-01-01

In [11]:
df_testwo['dateInt']=df_testwo['Year'].astype(str) + df_testwo['Month'].astype(str).str.zfill(2)+ df_testwo['Day'].astype(str).str.zfill(2)
df_testwo['Date'] = pd.to_datetime(df_testwo['dateInt'], format='%Y%m%d')

In [12]:
df_testhree['dateInt']=df_testhree['Year'].astype(str) + df_testhree['Month'].astype(str).str.zfill(2)+ df_testhree['Day'].astype(str).str.zfill(2)
df_testhree['Date'] = pd.to_datetime(df_testhree['dateInt'], format='%Y%m%d')

In [13]:
df_testfour['dateInt']=df_testfour['Year'].astype(str) + df_testfour['Month'].astype(str).str.zfill(2)+ df_testfour['Day'].astype(str).str.zfill(2)
df_testfour['Date'] = pd.to_datetime(df_testfour['dateInt'], format='%Y%m%d')

In [14]:
df_testwo

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558,20171230,2017-12-30
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481,20171230,2017-12-30
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252,20171230,2017-12-30
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4.0,"22km ENE of Port-Olry, Vanuatu",1514636058,20171230,2017-12-30
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720,20171230,2017-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
3612,2017,1,1,09:38:03,13.3222,120.8538,249.6,4.3,"17km S of Odala, Philippines",1483263483,20170101,2017-01-01
3613,2017,1,1,07:40:33,10.1451,126.0402,77.0,4.0,"13km N of Santa Monica, Philippines",1483256433,20170101,2017-01-01
3614,2017,1,1,00:45:57,-2.9302,139.4328,49.2,4.1,"132km WSW of Abepura, Indonesia",1483231557,20170101,2017-01-01
3615,2017,1,1,00:23:53,-5.9497,153.8988,10.0,4.1,"180km WNW of Panguna, Papua New Guinea",1483230233,20170101,2017-01-01
3616,2017,1,1,00:13:25,2.8327,127.5786,78.9,5.0,"131km NNW of Tobelo, Indonesia",1483229605,20170101,2017-01-01

In [15]:
df_testhree

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2018,12,30,22:02:46,17.2361,146.5719,35.0,4.6,"128km SE of Pagan, Northern Mariana Islands",1546207366,20181230,2018-12-30
1,2018,12,30,21:51:20,0.9506,126.1752,35.0,4.5,"123km ESE of Bitung, Indonesia",1546206680,20181230,2018-12-30
2,2018,12,30,18:50:51,-0.8637,137.7089,10.0,4.2,"Papua region, Indonesia",1546195851,20181230,2018-12-30
3,2018,12,30,18:34:57,1.6507,126.3645,40.1,5.1,"133km E of Bitung, Indonesia",1546194897,20181230,2018-12-30
4,2018,12,30,18:22:37,-0.5978,97.9026,21.4,4.1,"134km WNW of Sikabaluan, Indonesia",1546194157,20181230,2018-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
4283,2018,1,1,07:26:01,-4.3179,102.1873,52.1,4.8,"57km S of Bengkulu, Indonesia",1514791561,20180101,2018-01-01
4284,2018,1,1,06:22:46,-6.1680,101.9688,10.0,4.4,"235km WSW of Kuripan, Indonesia",1514787766,20180101,2018-01-01
4285,2018,1,1,00:52:30,-0.2797,123.6999,127.2,4.5,"80km SSW of Molibagu, Indonesia",1514767950,20180101,2018-01-01
4286,2018,1,1,00:40:47,-6.2365,150.8961,35.0,4.6,"112km SE of Kimbe, Papua New Guinea",1514767247,20180101,2018-01-01
4287,2018,1,1,00:19:14,18.5434,145.5894,181.2,4.2,"26km SSW of Agrihan, Northern Mariana Islands",1514765954,20180101,2018-01-01

In [16]:
df_testfour

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2019,12,30,16:59:04,6.6861,94.4018,99.9,4.8,"134km NW of Sabang, Indonesia",1577725144,20191230,2019-12-30
1,2019,12,30,14:07:14,18.7449,145.6279,223.2,4.3,"4km WSW of Agrihan, Northern Mariana Islands",1577714834,20191230,2019-12-30
2,2019,12,30,13:18:58,6.4679,126.4134,81.7,4.2,"28km ENE of Pondaguitan, Philippines",1577711938,20191230,2019-12-30
3,2019,12,30,11:56:36,-6.5115,147.0116,86.8,4.4,"23km N of Lae, Papua New Guinea",1577706996,20191230,2019-12-30
4,2019,12,30,11:41:05,1.0735,97.3437,30.6,4.4,"176km WSW of Sibolga, Indonesia",1577706065,20191230,2019-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
4598,2019,1,1,04:19:17,8.5808,125.8340,46.0,4.6,"1km SSW of Aurora, Philippines",1546316357,20190101,2019-01-01
4599,2019,1,1,03:00:42,5.7717,126.9460,67.4,4.6,"107km SE of Pondaguitan, Philippines",1546311642,20190101,2019-01-01
4600,2019,1,1,02:10:34,-5.6925,142.2502,10.0,4.0,"108km WSW of Porgera, Papua New Guinea",1546308634,20190101,2019-01-01
4601,2019,1,1,02:04:02,5.8873,127.4672,35.0,4.5,"152km ESE of Pondaguitan, Philippines",1546308242,20190101,2019-01-01
4602,2019,1,1,00:04:05,-14.9510,167.2922,40.1,4.8,"28km ENE of Port-Olry, Vanuatu",1546301045,20190101,2019-01-01

In [17]:
df_traintest = pd.concat(map(pd.read_csv, [r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2017.csv", 
                                           r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2018.csv",
                                           r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2019.csv",
                                           r"E:\Python\Django\MachineLearningGempaBumiIndonesia\DATA\GempaTh2020.csv",]), 
                         ignore_index=True)

In [18]:
df_traintest

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4.0,"22km ENE of Port-Olry, Vanuatu",1514636058
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720
...,...,...,...,...,...,...,...,...,...,...
16331,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714
16332,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474
16333,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487
16334,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948
16335,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500

In [19]:
df_traintest['dateInt']=df_traintest['Year'].astype(str) + df_traintest['Month'].astype(str).str.zfill(2)+ df_traintest['Day'].astype(str).str.zfill(2)
df_traintest['Date'] = pd.to_datetime(df_traintest['dateInt'], format='%Y%m%d')

In [20]:
print(df_traintest)

       Year  Month  Day      Time      Lat       Lon  Depth  Mag  \
0      2017     12   30  21:32:38  18.5580  145.7600  166.6  3.8
1      2017     12   30  20:58:01  14.1033  145.4996  110.4  4.4
2      2017     12   30  17:00:52  10.1101  140.1708   19.5  4.7
3      2017     12   30  12:14:18 -14.9696  167.2431   85.2  4.0
4      2017     12   30  07:08:40  10.0405  140.0865   10.0  4.5
...     ...    ...  ...       ...      ...       ...    ...  ...
16331  2020      1    1  12:28:34   0.1936  121.5572  141.3  4.1
16332  2020      1    1  06:01:14  -6.7009  129.7667  155.1  4.4
16333  2020      1    1  04:38:07   2.0047  126.7211   51.0  4.4
16334  2020      1    1  00:35:48  -5.3373  152.6003   32.9  4.6
16335  2020      1    1  00:28:20  -5.3245  152.5514   40.2  5.1

                                              Region   Timestamp   dateInt  \
0      25km SSE of Agrihan, Northern Mariana Islands  1514669558  20171230
1           32km E of Rota, Northern Mariana Islands  1514667481  20171230
2                        53km NW of Fais, Micronesia  1514653252  20171230
3                     22km ENE of Port-Olry, Vanuatu  1514636058  20171230
4                       56km WNW of Fais, Micronesia  1514617720  20171230
...                                              ...         ...       ...
16331                    38km S of Lemito, Indonesia  1577881714  20200101
16332                219km NW of Saumlaki, Indonesia  1577858474  20200101
16333                 146km WNW of Tobelo, Indonesia  1577853487  20200101
16334           107km SSW of Taron, Papua New Guinea  1577838948  20200101
16335           108km SSW of Taron, Papua New Guinea  1577838500  20200101

            Date
0     2017-12-30
1     2017-12-30
2     2017-12-30
3     2017-12-30
4     2017-12-30
...          ...
16331 2020-01-01
16332 2020-01-01
16333 2020-01-01
16334 2020-01-01
16335 2020-01-01

[16336 rows x 12 columns]

In [21]:
df_traintest.head()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558,20171230,2017-12-30
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481,20171230,2017-12-30
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252,20171230,2017-12-30
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4.0,"22km ENE of Port-Olry, Vanuatu",1514636058,20171230,2017-12-30
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720,20171230,2017-12-30

In [22]:
df_traintest.tail()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
16331,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714,20200101,2020-01-01
16332,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474,20200101,2020-01-01
16333,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487,20200101,2020-01-01
16334,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948,20200101,2020-01-01
16335,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500,20200101,2020-01-01

In [23]:
df_traintest.dropna()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558,20171230,2017-12-30
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481,20171230,2017-12-30
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252,20171230,2017-12-30
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4.0,"22km ENE of Port-Olry, Vanuatu",1514636058,20171230,2017-12-30
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720,20171230,2017-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
16331,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714,20200101,2020-01-01
16332,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474,20200101,2020-01-01
16333,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487,20200101,2020-01-01
16334,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948,20200101,2020-01-01
16335,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500,20200101,2020-01-01

In [24]:
df_test.dropna()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2021,4,12,22:44:32,-22.7448,172.1413,10.0,5.2,southeast of the Loyalty Islands,1618267472,20210412,2021-04-12
1,2021,4,12,02:26:26,2.7817,128.6072,229.7,5.2,"134 km NNE of Tobelo, Indonesia",1618194386,20210412,2021-04-12
2,2021,4,12,01:52:25,-5.2913,104.8347,105.7,4.9,"49 km WNW of Bandar Lampung, Indonesia",1618192345,20210412,2021-04-12
3,2021,4,11,10:44:47,-6.2323,104.6292,75.0,4.9,"113 km SW of Bandar Lampung, Indonesia",1618137887,20210411,2021-04-11
4,2021,4,11,01:21:06,-5.7041,153.1678,20.6,4.9,"180 km SSE of Kokopo, Papua New Guinea",1618104066,20210411,2021-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,2021,1,1,22:20:08,-21.4224,169.1711,10.0,4.4,"134 km E of Tadine, New Caledonia",1609539608,20210101,2021-01-01
1216,2021,1,1,18:47:11,-6.1821,147.6701,63.8,4.0,"45 km NNW of Finschhafen, Papua New Guinea",1609526831,20210101,2021-01-01
1217,2021,1,1,04:05:17,-0.1874,124.4420,62.0,4.5,"171 km SSW of Tomohon, Indonesia",1609473917,20210101,2021-01-01
1218,2021,1,1,03:46:52,-23.0784,172.6015,10.0,4.5,southeast of the Loyalty Islands,1609472812,20210101,2021-01-01
1219,2021,1,1,01:13:18,13.6492,144.9562,162.6,4.3,"14 km NNE of Yigo Village, Guam",1609463598,20210101,2021-01-01

In [25]:
df_test['dateInt']=df_test['Year'].astype(str) + df_test['Month'].astype(str).str.zfill(2)+ df_test['Day'].astype(str).str.zfill(2)
df_test['Date'] = pd.to_datetime(df_test['dateInt'], format='%Y%m%d')

In [26]:
df_test

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2021,4,12,22:44:32,-22.7448,172.1413,10.0,5.2,southeast of the Loyalty Islands,1618267472,20210412,2021-04-12
1,2021,4,12,02:26:26,2.7817,128.6072,229.7,5.2,"134 km NNE of Tobelo, Indonesia",1618194386,20210412,2021-04-12
2,2021,4,12,01:52:25,-5.2913,104.8347,105.7,4.9,"49 km WNW of Bandar Lampung, Indonesia",1618192345,20210412,2021-04-12
3,2021,4,11,10:44:47,-6.2323,104.6292,75.0,4.9,"113 km SW of Bandar Lampung, Indonesia",1618137887,20210411,2021-04-11
4,2021,4,11,01:21:06,-5.7041,153.1678,20.6,4.9,"180 km SSE of Kokopo, Papua New Guinea",1618104066,20210411,2021-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,2021,1,1,22:20:08,-21.4224,169.1711,10.0,4.4,"134 km E of Tadine, New Caledonia",1609539608,20210101,2021-01-01
1216,2021,1,1,18:47:11,-6.1821,147.6701,63.8,4.0,"45 km NNW of Finschhafen, Papua New Guinea",1609526831,20210101,2021-01-01
1217,2021,1,1,04:05:17,-0.1874,124.4420,62.0,4.5,"171 km SSW of Tomohon, Indonesia",1609473917,20210101,2021-01-01
1218,2021,1,1,03:46:52,-23.0784,172.6015,10.0,4.5,southeast of the Loyalty Islands,1609472812,20210101,2021-01-01
1219,2021,1,1,01:13:18,13.6492,144.9562,162.6,4.3,"14 km NNE of Yigo Village, Guam",1609463598,20210101,2021-01-01

In [27]:
df_traintest

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp,dateInt,Date
0,2017,12,30,21:32:38,18.5580,145.7600,166.6,3.8,"25km SSE of Agrihan, Northern Mariana Islands",1514669558,20171230,2017-12-30
1,2017,12,30,20:58:01,14.1033,145.4996,110.4,4.4,"32km E of Rota, Northern Mariana Islands",1514667481,20171230,2017-12-30
2,2017,12,30,17:00:52,10.1101,140.1708,19.5,4.7,"53km NW of Fais, Micronesia",1514653252,20171230,2017-12-30
3,2017,12,30,12:14:18,-14.9696,167.2431,85.2,4.0,"22km ENE of Port-Olry, Vanuatu",1514636058,20171230,2017-12-30
4,2017,12,30,07:08:40,10.0405,140.0865,10.0,4.5,"56km WNW of Fais, Micronesia",1514617720,20171230,2017-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
16331,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714,20200101,2020-01-01
16332,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474,20200101,2020-01-01
16333,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487,20200101,2020-01-01
16334,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948,20200101,2020-01-01
16335,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500,20200101,2020-01-01

In [28]:
# Clean data, filter data apa saja yang ingin dibutuhkan
df_train_loaded = df_traintest.drop(['Year','Month','Day','Time','Region','Timestamp','dateInt'], axis=1)

df_test_loaded = df_test[['Lat','Lon','Depth','Mag','Date']]

In [29]:
df_train_loaded

           Lat       Lon  Depth  Mag       Date
0      18.5580  145.7600  166.6  3.8 2017-12-30
1      14.1033  145.4996  110.4  4.4 2017-12-30
2      10.1101  140.1708   19.5  4.7 2017-12-30
3     -14.9696  167.2431   85.2  4.0 2017-12-30
4      10.0405  140.0865   10.0  4.5 2017-12-30
...        ...       ...    ...  ...        ...
16331   0.1936  121.5572  141.3  4.1 2020-01-01
16332  -6.7009  129.7667  155.1  4.4 2020-01-01
16333   2.0047  126.7211   51.0  4.4 2020-01-01
16334  -5.3373  152.6003   32.9  4.6 2020-01-01
16335  -5.3245  152.5514   40.2  5.1 2020-01-01

[16336 rows x 5 columns]

In [30]:
df_test_loaded

          Lat       Lon  Depth  Mag       Date
0    -22.7448  172.1413   10.0  5.2 2021-04-12
1      2.7817  128.6072  229.7  5.2 2021-04-12
2     -5.2913  104.8347  105.7  4.9 2021-04-12
3     -6.2323  104.6292   75.0  4.9 2021-04-11
4     -5.7041  153.1678   20.6  4.9 2021-04-11
...       ...       ...    ...  ...        ...
1215 -21.4224  169.1711   10.0  4.4 2021-01-01
1216  -6.1821  147.6701   63.8  4.0 2021-01-01
1217  -0.1874  124.4420   62.0  4.5 2021-01-01
1218 -23.0784  172.6015   10.0  4.5 2021-01-01
1219  13.6492  144.9562  162.6  4.3 2021-01-01

[1220 rows x 5 columns]

In [31]:
# Mendifinisikan training dan testing data
df_testing = df_test_loaded[['Lat','Lon','Depth','Mag']]
df_training = df_train_loaded[['Lat','Lon','Depth','Mag']]

In [32]:
df_testing.dropna()
df_training.dropna()

           Lat       Lon  Depth  Mag
0      18.5580  145.7600  166.6  3.8
1      14.1033  145.4996  110.4  4.4
2      10.1101  140.1708   19.5  4.7
3     -14.9696  167.2431   85.2  4.0
4      10.0405  140.0865   10.0  4.5
...        ...       ...    ...  ...
16331   0.1936  121.5572  141.3  4.1
16332  -6.7009  129.7667  155.1  4.4
16333   2.0047  126.7211   51.0  4.4
16334  -5.3373  152.6003   32.9  4.6
16335  -5.3245  152.5514   40.2  5.1

[16336 rows x 4 columns]

In [33]:
# Melatih data 
X = df_training[['Lat','Lon']]
y = df_training[['Mag','Depth']]

# data yang akan di test untuk prediksi
X_new = df_testing[['Lat','Lon']]
y_new = df_testing[['Mag','Depth']]

# menggunakan data yang akan di latih dan ditest untuk prediksi
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Membangun sebuah model
model_reg = RandomForestRegressor(random_state=50)
model_reg.fit(X_train, y_train)
model_reg.predict(X_test)
score = model_reg.score(X_test, y_test) * 100

In [35]:
score

32.97942838564064

In [36]:
# improve ke akuratan model automatis dengan hyperparameter tuning
parameters = {'n_estimators': [10, 20, 50, 100, 200, 500]}

grid_obj = GridSearchCV(model_reg, parameters)
grid_fit = grid_obj.fit(X_train, y_train)
best_fit = grid_fit.best_estimator_
results = best_fit.predict(X_test)

In [37]:
# melihat nilai prediksi
print(results)

[[  4.4484  18.685 ]
 [  4.4764  10.739 ]
 [  4.4982 100.8474]
 ...
 [  4.4708 102.7782]
 [  4.4228  16.9214]
 [  4.4522  63.0118]]

In [38]:
score = best_fit.score(X_test, y_test) * 100

In [39]:
score

33.70259966941992

In [40]:
# Membuat Prediksi sebuah data sample (untuk gempa selanjutnya pada tahun 2022 dan tahun2 selanjutnya)
final_result = best_fit.predict(X_new)
# Evaluasi model
final_score = best_fit.score(X_new, y_new) * 100

In [41]:
final_score

24.18576866836828

In [42]:
lst_Magnitudes = []
lst_Depth = []
i = 0
for r in final_result.tolist():
    lst_Magnitudes.append(final_result[i][0])
    lst_Depth.append(final_result[i][0])
    
df_results = X_new[['Lat','Lon']]
df_results['Mag'] = lst_Magnitudes
df_results['Depth'] = lst_Depth
df_results['Score'] = final_score

In [43]:
df_results.head()

       Lat       Lon     Mag   Depth      Score
0 -22.7448  172.1413  4.5152  4.5152  24.185769
1   2.7817  128.6072  4.5152  4.5152  24.185769
2  -5.2913  104.8347  4.5152  4.5152  24.185769
3  -6.2323  104.6292  4.5152  4.5152  24.185769
4  -5.7041  153.1678  4.5152  4.5152  24.185769

In [44]:
# simpan hasil prediksi